.catalog {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 2fr));

    .catalog-list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        grid-column: span 1;
        list-style: none;
        background-color: #f9f9f9;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 100%;
            background-color: transparent;
            right: -20px;
            top: 0;
        }
        .catalog-item {
            display: flex;
            align-items: center;
            padding: 8px 12px;
            &:hover {
                background-color: #fff;
                box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
            }
            .catalog-link {
                font-weight: 600;
                color: #000;
                width: 100%;
                text-decoration: none;
                margin-left: 8px;
                &:hover ul {
                    display: block;
                }
                ul {
                    display: none;
                    position: absolute;
                    background-color: #fff;
                    height: 100%;
                    width: 300px;
                    left: 210px;
                    top: 0;
                    list-style: none;
                    z-index: 1;
                    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
                        0 4px 6px -4px rgb(0 0 0 / 0.1);
                }
                li {
                    padding: 8px 12px;
                    text-decoration: none;
                    &:hover {
                        background-color: cornsilk;
                        box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
                    }
                }
            }
        }
    }
}
