.order-list {
    background-color: #fff;
    margin-bottom: 16px;
    .profile-order {
        padding: 14px;
        .profile-order-header {
            margin-bottom: 16px;
        }
        .product-list {
            .product-item {
                display: flex;
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 3px;
                margin-bottom: 16px;
                .product-item-info {
                    display: inherit;
                    flex: 1;
                    gap: 14px;
                    img {
                        width: 60px;
                        aspect-ratio: 2/3;
                    }
                    div {
                        h5,
                        p {
                            font-size: 16px;
                        }
                    }
                }
                .product-price {
                    display: flex;
                    align-items: center;
                    h5 {
                        text-align: center;
                        font-size: 18px;
                    }
                }
            }
            .total {
                text-align: right;
                margin-bottom: 6px;
                font-size: 18px;
                padding: 10px;
                h3 {
                    font-style: 20px;
                    color: red;
                }
            }
        }
        .profile-order-btn {
            display: flex;
            justify-content: flex-end;
            gap: 20px;
        }
    }
}
