.page-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 20px;
    margin-top: 20px;
    width: 1200px;
    .side-bar {
        display: flex;
        grid-column: span 1;
        flex-direction: column;
        gap: 12px;
        .nav-link {
            display: flex;
            gap: 50px;
            width: 100%;
            a {
                text-decoration: none;
                color: black;
                padding: 6px 10px;
                font-size: 18px;
                width: 100%;
                display: inherit;
                align-items: center;
                gap: 8px;
                border-radius: 3px;
            }
        }
    }
    .content {
        grid-column: span 4;
    }
}

.active {
    color: crimson !important;
    background-color: #f5f5fa;
}
