.cart-page {
    .cart-title {
        margin-bottom: 16px;
    }
    .cart-content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        .step {
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 4px;
            background-color: var(--background-color);
        }
    }
}
