@media (min-width: 0px) {
    .user-pc {
        display: none;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--primary-color);
        padding: 8px 12px;
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .user-mobile {
        display: none !important;
    }
    .user-pc {
        display: flex !important;
    }
    .search-input {
        width: 60% !important;
    }
    .search-btn {
        display: flex;
    }
}

@media (min-width: 992px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--primary-color);
        padding: 8px 32px;
    }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
