.book-card {
    display: flex;
    margin-top: 40px;
    padding: 14px 20px;
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
    text-decoration: none;
    box-shadow: 1px 1px 8px rgba(117, 117, 117, 0.5);
    border-radius: 3px;
    max-width: 285px;
    &:hover {
        border-color: var(--primary-color);
    }
    gap: 20px;
    .book-img {
        position: relative;
        margin-top: -40px;
        cursor: pointer;
        img {
            aspect-ratio: 120 / 180;
            height: 180px;
            box-shadow: 1px 1px 8px rgba(117, 117, 117, 0.5);
        }
    }
    .book-card-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        gap: 4px;
        overflow: hidden;
        .book-title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
            color: #000;
            cursor: pointer;
            text-decoration: none;
            h3 {
                font-size: 14px;
            }
        }
        .book-author {
            cursor: default;
            a {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
                color: #777;
                font-size: 12px;
                text-decoration: none;
            }
        }
        .book-rating {
        }
        .book-desc {
            div {
                font-size: 12px;
            }
            cursor: default;
            color: #777;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .book-card-price {
            span {
                font-weight: bold;
                font-size: 14px;
            }
        }
        .book-card-btn {
            color: var(--primary-color);
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}
